{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock title %}

{% block header %}
{{ page.extra.header | safe }}
<style>
  /* Reset almond.css styles */
  button { text-transform: inherit; min-height: inherit; }
  details summary { margin: inherit; padding: inherit; }
</style>
{% endblock header %}

{% block content %}
<header id="title-block-header">
<nav><a href="/">Home</a></nav>
<h1>{{ page.title }}</h1>
</header>

<div id='map' style='width: 60%; aspect-ratio: 2/1;'></div>

<h3>HTML:</h3>
<pre>
&lt;div id=&#x27;map&#x27; style=&#x27;width: 60%; aspect-ratio: 2&#x2F;1;&#x27;&gt;&lt;&#x2F;div&gt;
</pre>

<h3>Javascript:</h3>
<pre>
{{ page.extra.js | safe }}
</pre>

<h3>Header:</h3>
<pre>
{{ page.extra.header }}
</pre>

<script>
{{ page.extra.js | safe }}
</script>

{% endblock content %}
