{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock title %}

{% block header %}
{{ page.extra.header | safe }}
<style>
  /* Reset almond.css styles */
  button { text-transform: inherit; min-height: inherit; }
  details summary { margin: inherit; padding: inherit; }
</style>
{% endblock header %}

{% block content %}
<header id="title-block-header">
<nav><a href="/">Home</a></nav>
<h1>{{ page.title }}</h1>
</header>
{% if page.extra.body %}{{ page.extra.body | safe }}{% else %}{{ config.extra.body | safe }}{% endif %}

{{ page.content | safe }}

<h3>HTML:</h3>
<pre>
{% if page.extra.body %}{{ page.extra.body }}{% else %}{{ config.extra.body }}{% endif %}
</pre>

<h3>Javascript:</h3>
<pre>
{{ page.extra.js }}
</pre>

<h3>Header:</h3>
<pre>
{{ page.extra.header }}
</pre>

<script>
{{ page.extra.js | safe }}
</script>

{% endblock content %}
