{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock title %}

{% block header %}
{{ page.extra.header | safe }}
{% endblock header %}

{% block content %}
<header id="title-block-header">
<nav><a href="/">Home</a></nav>
<h1>{{ page.title }}</h1>
</header>
{% if page.extra.body %}{{ page.extra.body | safe }}{% else %}{{ config.extra.mapdiv | safe }}{% endif %}

{{ page.content | safe }}

<h3>HTML:</h3>
<pre><code>{% if page.extra.body %}{{ page.extra.body }}{% else %}{{ config.extra.mapdiv }}{% endif %}</code></pre>

<h3>Javascript:</h3>
<pre><code>{{ page.extra.js }}</code></pre>

<h3>Header:</h3>
<pre><code>{{ page.extra.header }}</code></pre>

<script>
{{ page.extra.js | safe }}
</script>

{% endblock content %}
